# Chaves do Stripe (Modo Teste)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Chave do Resend para e-mails
RESEND_API_KEY=

# Chave do Melhor Envio (Modo Sandbox)
MELHOR_ENVIO_API_KEY=
CEP_ORIGEM=

# Conexão com o Banco de Dados (Prisma Accelerate)
DATABASE_URL=

# Segredo para JWT
JWT_SECRET=
